.question {

	.row {
		background-color: #f8f8f8;
		border: 1px solid #d6d6d6;
		margin-bottom: 2rem !important;
	}
	.question--difficulty-label {
		border-bottom: 2px solid #dedede;
		color: #fff;
		display: block;
		font-size: 1rem;
		font-weight: bold;
		height: 3rem;
		line-height: 3rem;
		margin: -1.5rem auto 1.5rem;
		text-align: center;
		text-transform: uppercase;
		width: 20%;
	}
	.question--text {
		font-size: 1.6rem;
		line-height: 1.5;
		margin-bottom: 4rem;
		padding: .5rem;
		text-align: center;
	}
}
	
.question.easy {
	.question--difficulty-label {
		background-color: $easy-color;
	}
}
.question.moderate {
	.question--difficulty-label {
		background-color: $moderate-color;
	}
}
.question.hard {
	.question--difficulty-label {
		background-color: $hard-color;
	}
}